
  <div class="row center-xs  ">
    <div class="col-xs-8 col-md-6">
      <div class="box text-left"></div>
        <h2>Crear cuenta de asesor</h2>
        
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="be-blue white top-space">
            <div class="sinpunto">
              <%= devise_error_messages! %>
            </div>
          </div>
        
          <div class="field text-left">
            <%= f.text_field :name, placeholder:"Nombre", autofocus: true, class: "form-control" %>
          </div>
          
          <div class="field text-left">
           <%= f.label :identificacion_oficial %>
           <%= f.file_field :identification, autofocus: true, class: "" %>
          </div>
          
          <div class="field text-left">
            <br />
            <%= f.email_field :email, placeholder:"Email", autofocus: true, class: "form-control" %>
          </div>
        
          <div class="field text-left">
            <br />
            <%= f.password_field :password, placeholder:"Contraseña (6 caracteres minimo)" , autocomplete: "off", class: "form-control"  %>
          </div>
        
          <div class="field text-left">
            <br />
            <%= f.password_field :password_confirmation, placeholder:"Confirmar Contraseña", autocomplete: "off", class: "form-control" %>
          </div>
        
          <div class="actions ">
            <%= f.submit "Crear", class:"button blue small " %>
          </div>
        <% end %>
        
        <%= render "devise/shared/links" %>
      
      </div>
    </div>
  </div>